mixin linkFor(path, title, external)
  - var target = external ? '_blank' : undefined;
  - var href = path.indexOf('://') === -1 ? `${ROOT || ''}${path}` : path;

  a(target=target href=href)&attributes(attributes) #{title}
    if block
      block

mixin baseTag
  base(href=(ROOT || '') + '/')
